body {
    background-color: #e9e9e9;
    margin: 0 10%;
    font-family: sans-serif;
}
h1 {
    font-family: "Volkhov", serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid #57b1dc;
    margin-top: 30px;
}
h2 {
    color: #032272;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    text-transform: uppercase;
    font-size: 1.10em;
}
p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.10em;
}
dt, dd {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.10em;
}
ol {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.10em;
}
legend {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.10em;
    font-weight: 700;
}
h3 {
    text-align: left;
    color: #032272;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-size: 1em;
}
footer {
    border-top: 1px solid #57b1dc;
    text-align: center;
    padding-top: 1.25em;
}
footer img {
    width: 40px;
    height: 40px;
    margin-left: .5em;
    margin-right: .5em;
}
nav {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
}
ul {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.10em;
    text-align: left;
}
