body {
    background-color: rgb(4,1,87);
}
nav {
    color: white;
    font-size: larger;
    background-color: rgb(5, 103, 168);
    text-align: center;
    line-height: 2.5;
    text-decoration: none;
}
a {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 21px;
    color: white;
}
table {
    line-height: 2;
    background-color:rgb(79, 79, 79) ;
    font-weight: normal;
    font-family: sans-serif;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    border-color: aqua;
    padding: 1em 1em 1em 1em;
}
p {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
    color: white;
    text-align: center;
}
h1 {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    color: white;
    text-transform: uppercase;
    text-align: center;
}
h2 {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 24px;
}
h3 {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align:center;
    text-transform: none;
    color: white;
    font-size: large;
}
footer img {
        width: 75px;
        height: 75px;
        margin-left: .5em;
        margin-right: .5em;
        }
ul {
    color: white;
    text-decoration: none;
    text-align: center;
}
.center {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
